<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linear Regression Using Gradient Descent Algorithm</title>
    <style>
        {# TODO: make here beautiful #}
    </style>
</head>
<body>
    <p>
        {% if not gd.points_ready %}
            <form action={% url 'num_points' gd_id %} method="post">
            {% csrf_token %}
                {{ num_points_form }}
                <input type="submit" value="Update number of points">
            </form>
        {% else %}
            Number of points: {{ gd.num_points }}
        {% endif %}
    </p>
    <p>Points:</p>
    {% if not gd.points_ready %}
        <form action={% url 'points' gd_id %} method="post">
        {% csrf_token %}
            {{ points_form }}
            <input type="submit" value="Update points">
        </form>
    {% else %}
        {% for i, point in enum_points %}
            <p>X{{ i }}: {{ point.x }}  Y{{ i }}: {{ point.y }}</p>
        {% endfor %}
    {% endif %}
    <p>Alpha: {{ gd.alpha }}</p>
    <p>Acceptable range: {{ gd.acceptable_range }}</p>
    <p>Current step: {{ gd.current_step }}</p>
    <p>Max steps: {{ gd.max_steps }}</p>
    <p>Theta0: {{ gd.theta0 }}</p>
    <p>Theta1: {{ gd.theta1 }}</p>
    <p>Error: {{ gd.error }}</p>
    <img src="data:image/png;base64, {{ gd_plot_uri }}" alt="" height="400" width="400">
    <img src="data:image/png;base64, {{ j_theta0_plot_uri }}" alt="" height="400" width="400">
    <img src="data:image/png;base64, {{ j_theta1_plot_uri }}" alt="" height="400" width="400">
    <p><a href="/proceed/{{ gd_id }}/">Proceed</a></p>
    <p><a href="/run/{{ gd_id }}/">Run</a></p>
    <p><a href="/">Start over</a></p>
</body>
</html>